build*/
.DS_Store
.vscode/
.ipynb_checkpoints/

application/src/extra.c/
application/src/battery_monitor.c
application/src/battery_monitor.h
application/src/main copy.c
application/src/main1.c
application/src/maintry.c

